[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "llhttp"]
	path = llhttp
	url = https://github.com/nodejs/llhttp.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
